@-moz-document domain("bakalari.uzlabina.cz") {
    @font-face {
        font-family: CustomSans;
        src: url(https://raw.githubusercontent.com/kristopolous/lowcon/master/fonts/comic-sans.woff);
    }
    a,
    p,
    b,
    i,
    h1,
    span,
    div {
        font-family: CustomSans, "Comic Sans MS", "Comic Sans", cursive !important;
    }
    body {
        background-image: none;
        background: #222222;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 4em;
        font-family: CustomSans, "Comic Sans MS", "Comic Sans", cursive !important;
    }
    #loginBox,
    #loginBox a {
        box-shadow: none;
        opacity: 1;
        background: #222222;
        color: #FFFFFF;
    }
    #info {
        display: none;
    }
    #labelH1 {
        color: #FFFFFF
    }
    #labelH1:after {
        content: " do bakalaru, zjisteni znamky, rozvrhu a dalsich blbosti";
    }
    .chyba span {
        display: none;
    }
    .chyba:after {
        content: "Ses kokot vole?";
    }
    #loginButton {
        height: auto;
    }
    #loginButton:after {
        content: " se do bakalaru rip";
    }
    #labelusername:before {
        content: "TVOJE ";
    }
    #labelpassword:before {
        content: "SPRAVNY ";
    }
    .uvod {
        font-size: 0.2em;
    }
    #topheader,
    #topheader .info,
    #panelprepni,
    #topheader #info-uzivatel {
        background: #000000;
    }
    #topheader #info-uzivatel {
        width: auto;
    }
    #info-uzivatel a:after {
        content: " = jdi se zabit";
    }
    #topheader #info-uzivatel a {
        width: auto;
    }
    #panel {
        background: #000000;
    }
    #lschoolname:before {
        content: "your school suck lol, go to uzlabina!!!!! ";
    }
    #lschoolname:last {
        color: #000;
    }
    #cphmain_labelvitejte:after {
        content: ", ktera ma comic sans";
    }
    #cphmain_labelvitejte:before {
        content: "vole ";
    }
    .uvod-text .uvodniText {
        display: none;
    }
    header.uvod .uvod-other .detail {
        display: none;
    }
    .uvod-text:after {
        background: none;
    }
    .uvod {
        -webkit-box-shadow: 2px 4px 14px 0px rgba(77, 77, 77, 0.58);
        -moz-box-shadow: 2px 4px 14px 0px rgba(77, 77, 77, 0.58);
        box-shadow: 2px 4px 14px 0px rgba(77, 77, 77, 0.58);
    }
}
